<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb2462355974121915</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.189031355274-h8198p95k9288u74d8lt9e20cuosqcr5</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>2462355974121915</string>
	<key>FacebookDisplayName</key>
	<string>Heard</string>
	<key>FacebookClientToken</key>
	<string>cd96226c13d4e2baf70e812eaee269b1</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<true/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
	<key>SuperwallApiKey</key>
	<string>pk_6a1858950ed4e5f8020095f48dea661eb7ea11e91489719d</string>
	<key>UIAppFonts</key>
	<array>
		<string>SF-Pro-Display-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
</dict>
</plist> 